#popover,#clickme{
    display: inline-block;
    width: 50px;
    padding: 10px;
}
#popover{
    display: none;
    border: 1px solid brown;
    background-color: rgba(235, 169, 82, 0.5);
}
#wrapper{
    display: inline;
}